<mat-action-list>
  <button mat-list-item class="nav-link" routerLink="/addWidgetFormButtonOnOff" (click)="addSwitchOnOff()"> Switch ON/OFF </button>
  <button mat-list-item (click)="addToggleButton()"> Toggle Button </button>
  <button mat-list-item (click)="addSlider()"> Slider </button>
  <button mat-list-item (click)="addMonitorLamp()"> Monitor Lamp </button>
  <button mat-list-item (click)="addMonitorDoor()"> Monitor Door </button>
  <button mat-list-item (click)="addMoitorPowerplug()"> Monitor Powerplug </button>
</mat-action-list>

